/*Top Detail */
.ms-head-detail {
    background: #303f9f;
	color: #fff;
}
.ms-head-detail .info-left li a, .ms-head-detail li a i, .ms-head-detail .info-right li a {
    color: #fff;
}

/*==================== Theme Menu ====================*/
/*=== navbar Header colors ===*/
.navbar-wp {
	background: #fff;
}
.navbar-header .navbar-brand {
	color: #349BD6;
}
/*=== navbar hover colors ===*/
.navbar-wp .navbar-nav > li > a {
	color: #212121;
}
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus, .navbar-wp .navbar-nav > .active > a, .navbar-wp .navbar-nav > .active > a:hover, .navbar-wp .navbar-nav > .active > a:focus {
	color: #349BD6;/*
	background-color: #fff;*/
}
.navbar-wp .navbar-nav > .open > a, .navbar-wp .navbar-nav > .open > a:hover, .navbar-wp .navbar-nav > .open > a:focus {
	color: #3f51b5;
	border-color: #fff;
	background-color: #fff;
}
/*=== navbar dropdown colors ===*/ 
.navbar-wp .dropdown-menu {
	background: #fff;
}
.navbar-wp .dropdown-menu > li > a {
	color: #212121;
}
.navbar-wp .dropdown-menu > .active > a, .navbar-wp .dropdown-menu > .active > a:hover, .navbar-wp .dropdown-menu > .active > a:focus {
	background: #f5f5f5;
	color: #212121;
}
.navbar-wp .dropdown-menu > li > a:hover {
	background: #f5f5f5;
}
.navbar-wp .navbar-nav > .disabled > a {
	color: #ccc;
}
.navbar-wp .navbar-nav > .disabled > a:hover {
	color: #ccc;
}
.navbar-wp .navbar-nav > .disabled > a:focus {
	color: #ccc;
}
.navbar-wp .navbar-toggle:hover, .navbar-wp .navbar-toggle:focus {
	background: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	color: #fff;
}
.ms-search-box .ms-search .btn {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

/*=== navbar drop down hover color ===*/
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	color: #fff;
}
.navbar-base .navbar-nav > li > a.dropdown-form-toggle {
	color: #fff;
}
.navbar-wp .navbar-nav > li > ul::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #3f51b5;
}
/*=== navbar text color ===*/ 
.navbar-default .navbar-toggle {
	background: rgba(0,0,0,0);
	color: black;
	border-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #212121;
}
.navbar-wp .navbar-nav > li > a.dropdown-form-toggle {
	color: #fff;
}
/*==================== slider ====================*/
.ms-slider-warraper .ms-slider-inner h1 {
	color: #fff;
}
.ms-slider-warraper .ms-slider-inner h1 span {
	color: #3f51b5;
}
.ms-slider-warraper .ms-slider-inner h3 {
	color: #fff;
}
.ms-slider-warraper .ms-slider-inner p {
	color: #fff;
}
.ms-slider-warraper .ms-slider-inner p span {
	color: #3f51b5;
}
.ms-slider-warraper .owl-controls .owl-buttons div {
	background: #fff;
	color: #3f51b5;
	border-color: #fff;
}
.ms-slider-warraper .owl-controls .owl-buttons div:hover {
	background: #3f51b5;
	color: #fff;
	border-color: #3f51b5;
}
.ms-slider-warraper .owl-controls.clickable .owl-page:hover span {
	background: #3f51b5;
}
.ms-slider-warraper .owl-controls .owl-page.active span {
	background: #3f51b5;
}
.ms-slider-warraper .owl-controls .owl-page span {
	background: #fff;
}
.ms-slider-warraper .owl-controls .owl-page span.owl-numbers {
	color: #fff;
}
.btn.btn-tislider {
	background: #fff;
	border-color: #fff;
	color: #3f51b5;
}
.btn.btn-tislider:hover, .btn.btn-tislider:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.btn.btn-tislider-two {
	background: #349BD6;
	color: #fff;
	border-color: #349BD6;
}
.btn.btn-tislider-two:hover, .btn.btn-tislider-two:focus {
	background: #161c28;
	border-color: #161c28;
	color: #fff;
}

.btn{background: #349BD6;}
.btn:hover, .btn-theme:focus {
    background: #1a2128;
    color: #fff;
}
/*==================== service ====================*/
.ms-service-inner {
	background: rgba(0,0,0,0.65);
}
.ms-service {
	border-color: #eee;
}	
.ms-service:hover h3 {
	color: #fff;
}
.ms-service:hover p {
	color: #fff;
}
.ms-service:hover a {
	color: #fff;
}
.ms-service-inner h3, .ms-service p {
	color: #fff;
}
.ms-service:hover .ms-service-inner h3 span {
	color: #fff;
}
.ms-service-inner h3 span {
	color: #3f51b5;
}

/*==================== calltoaction ====================*/
.ms-calltoaction {
	background: #3f51b5;
	color: #fff;
}
.ms-calltoaction h5 {
	color: #fff;
}
.ms-calltoaction .btn-theme {
	border-color: #1a2128;
	color: #fff;
	background: #1a2128;
}
.ms-calltoaction .btn-theme:hover, .ms-calltoaction .btn-theme:focus {
	border-color: #3f51b5;
	background: #3f51b5;
}
/*==================== featured products ====================*/
#product .ms-product a .onsale {
    background: #4caf50;
    color: #fff;
}
#product .ms-product a .price {
    color: #000;
}
#product .ms-product a .price ins {
    color: #e96656;
}
#product .ms-product a.button {
	background: #3f51b5;
	color: #fff;
}
#product .ms-product a.button:hover, #product .ms-product a.button:focus  {
	background: #161c28;
	color: #fff;
}
#feature-product .owl-controls .owl-buttons div {
	background: #fff;
	border-color: #fff;
}
#feature-product .owl-controls .owl-buttons div:hover {
	background: #3f51b5;
	color: #fff;
}
#feature-product .owl-page.active { 
	background: #3f51b5;
}
#feature-product .owl-page {
	background: rgba(0,0,0,0.6);
}
/*==================== callout ====================*/
.ms-callout .overlay {
	background: rgba(0, 5, 8, 0.90);
}
.ms-callout h3.ms-heading-inner, .ms-callout, .ms-callout h1, .ms-callout h3 {
	color: #fff;
}
.ms-callout .overlay h3 span {
	color: #3f51b5;
}
/*==================== testimonials ====================*/
.testimonials-section .overlay {
	background: #fff;
}
.testimonials-section .testimonials_qute:hover {
	background: #3f51b5;
}
.testimonials-section .testimonials_qute:hover .sub-qute {
	color: #fff;
}
.testimonials-section .testimonials_qute:hover .user-title {
	color: #fff;
}
.testimonials-section .sub-qute {
	color: #757575;
}

.testimonials-section .sub-qute p {
	color: #757575;
}
.content-testimonials .icon-quote {
	color: #BDBDBD;
}
.testimonials-section .user-designation {
	color: #757575;
}
.testimonials-section .user-title {
	color: #212121;
}
.testimonials-section .ms-client img {
	border-color: #3f51b5;
}
.testimonials-section .ms-client::before {
	background: #fff;
	color: #3f51b5;
}
.testimonials-section .user-title::before {
	background-color: #212121;
}
#ms-testimonial .owl-controls .owl-buttons div {
	background: #fff;
	color: #000;
	border-color: #fff;
}
#ms-testimonial .owl-controls .owl-buttons div:hover {
	color: #fff;
	border-color: #3f51b5;
	background: #3f51b5;
}
#ms-testimonial .owl-page {
	background: #fff;
}
#ms-testimonial .owl-page.active { 
	background: #3f51b5;
}
/*==================== blog ====================*/
.ms-blog-date {
	background: #349BD6;
	color: #fff;
}
.ms-blog-date span {
	color: #fff;
}
.ms-blog-post-box h2 a {
	color: #1c1f24;
}
.ms-blog-category a:hover, .ms-blog-category a:focus {
	color: #3f51b5;
}
.ms-comments .reply a:hover {
	color: #3f51b5;
}
.btn-blog {
	border-color: #e1e1e1;
	color: #999;
}
.btn-blog:hover {
	background: #3f51b5;
	color: #fff;
}
.btn-blog:hover {
	border-color: #3f51b5;
}
.ms-comments .ms-reply {
	border-color: #f0f0f0;
}
.comments-area footer a:hover {
	color: #212121;
}
.ms-blog-category a {
	color: #349BD6;
}
.ms-blog-category i {
	color: #888;
}
.ms-blog-post-box .small > p {
	color: #757575;
}
.ms-blog-post-box input[type="checkbox"], .ms-blog-post-box input[type="radio"] {
    display: inline;
}
.ms-blog-post-box table, .ms-blog-post-box th, .ms-blog-post-box td {
    border: 1px solid #d1d1d1;
}
.ms-blog-post-box table{
	 border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    width: 100%;
}
.ms-blog-post-box th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}
.ms-blog-post-box th, .ms-blog-post-box td {
    padding: 0.4375em;
}
.ms-blog-post-box td {
    border-width: 0 1px 1px 0;
}
.ms-blog-author {
	background: #e8e8e8;
}
.ms-info-author-block {
	color: #999;
	background-color: white;
}
.ms-info-author-block a {
	color: #349BD6;
	font-weight: 600;
}
.ms-info-author-block h4 {
	color: #333;
}
.ms-info-author-block h4 span {
	color: #999999;
}
.ms-info-author-block .ms-info-author-social li a {
	color: #dbdbdb;
}
.ms-info-author-block .ms-info-author-social li a:hover {
	color: #777;
}
.comment_section .comment-reply-link {
	background: #f6f6f6;
	color: #212121;
	border-color: #f6f6f6;
}
.ms-comments a {
	color: #777;
}
.ms-comments h4 {
	color: #888;
}
.ms-comments h4 span {
	color: #999;
}
.ms-comments .comment .media-body > p:last-child {
	border-color: #eee;
}
.ms-comments li .media-body > .small {
	color: #999;
}
.ms-comments li .media-body > p {
	border-color: #f0f0f0;
	color: #999;
}
.ms-comments .comment-list li {
	background: #fff;
	border-color: #eee;
}
.comment-content{
	color: black;
}
.ms-heading-bor-bt h5::before {
	border-color: #3f51b5;
}
.ms-heading-bor-bt h5::before {
	border-bottom-color: #3f51b5;
}
/*==================== client ====================*/
.ms-clients-section {
	background: #fff;
}
.ms-clients-section .item {
	color: #fff;
}
#ms-client .owl-controls .owl-buttons div {
	background: #fff;
	color: #000;
	border-color: #fff;
}
#ms-client .owl-controls .owl-buttons div:hover {
	color: #fff;
	border-color: #3f51b5;
	background: #3f51b5;
}
#ms-client .owl-page.active { 
	background: #3f51b5;
}
#ms-client .owl-page {
	background: #fff;
}
/*==================== subscriber ====================*/
.ms-subscriber .overlay {
	background: rgba(32, 40, 48, 0.6);
}
.ms-subscriber .subscription-form .int-box {
	color: #ccc;
}
.ms-subscriber h4 {
	color: #fff;
}
.ms-subscriber h2 {
	color: #fff;
}
.ms-subscriber h4 span, .ms-subscriber h2 span {
	color: #3f51b5;
}
.ms-subscriber a {
	color: #fff;
}
/*==================== funfact ====================*/ 
.ms-funfact .overlay {
	background: #fff;
}
.ms-funfact .overlay h1 {
	color: #fff;
}
.ms-funfact .overlay h1 span {
	color: #3f51b5;
}
.ms-funfact-inner {
	border-color: #eee;
	background: #fff;
}
.ms-funfact-inner:hover {
	border-color: #3f51b5;
}
.ms-funfact-inner .tittle {
	color: #212121;
}
.ms-funfact h3.ms-heading-inner, .ms-funfact h3 {
	color: #212121;
}
.ms-funfact-inner i {
	color: #3f51b5;
}
.ms-funfact .overlay p {
	color: #757575;
}
/*==================== feature & skills  ====================*/ 
.ms-feature {
	background: #fff;
}
.ms-feature-box-icon i {
	background: #fff;
	color: #3f51b5;
}
.ms-feature-box:hover .ms-feature-box-icon i {
	background: rgba(0,0,0,0.2);
	color: #fff;
}
.ms-feature-box-info h4 {
	color: #fff;
}
.ms-feature-box-info p {
	color: #fff;
}
.ms-skills {
	background: #3f51b5;
}
.ms-skills-card-box { 
	background: rgba(0,0,0,0.2);
}
.ms-skills h5 {
	color: #fff;
}
.ms-skills h6 {
	color: #fff;
}
.ms-skills .progress-bar-theme {
 	background-color: #3f51b5;
	color: #fff;
}
/*==================== team  ====================*/
.ms-team-section {
	background: #f9f9f9;
}
.ms-team-info {
	color: #757575;
	background: #fff;
}
.ms-team-box:hover .ms-team-info {
	color: #fff;
	background: #3f51b5;
}
.ms-team-box:hover .ms-team-info h3 {
	color: #fff;
}
.ms-team-info h3 {
	color: #212121;
}
.ms-team-info .designation {
	color: #fff;
}
.ms-team-social a {
	color: #212121;
	background: #fff;
}
.ms-team-social a:hover {
	background: rgba(0,0,0,0.2);
	color: #fff;
}
.ms-team-box {
	border-color: #eee;
}
.ms-team-box .inner-bottom {
	border-color: #eee;
}
.ms-team-box .inner-bottom .team-btn{
	background: #3f51b5;
	color: #fff;
}
/*==================== portfolio  ====================*/

.ms-portfolio-box .ms-portfolio-box-caption {
	color: #fff;
}
.ms-portfolio-box .ms-portfolio-box-caption h3 {
    color: #ffffff;
}
.ms-portfolio-box .ms-portfolio-box-caption h3 a:hover {
    color: #333333;
}
.ms-portfolio-box .ms-portfolio-box-caption h6 {
    color: #fff;
}
.ms-portfolio-box .overlay .btn {
	background: #fff;
	color: #3f51b5;
}
.ms-portfolio-box .overlay .btn:hover, .ms-portfolio-box .overlay .btn:focus {
	background: #3f51b5;
	color: #fff;
}
.ms-link-caption a, .ms-link-caption i {
	color: #fff;
}
.ms-portfolio-box h4, .ms-portfolio-box h4 a {
	color: #212121;
}
.ms-portfolio-box h4:hover, .ms-portfolio-box h4 a:hover, .ms-portfolio-box h4:focus, .ms-portfolio-box h4 a:focus {
	color: #3f51b5;
}
.ms-portfolio-box .ms-portfolio-box-caption .ms-portfolio-box-caption-content .ms-project-category a {
	color: #fff;
}
.ms-portfolio-box .ms-portfolio-box-caption::after {
    background: #3f51b5;
}
#portfolio .owl-controls .owl-buttons div {
	background: #fff;
	color: #000;
	border-color: #fff;
}
#portfolio .owl-controls .owl-buttons div:hover {
	color: #fff;
	border-color: #3f51b5;
	background: #3f51b5;
}
#portfolio .owl-page {
	background: #fff;
}
#portfolio .owl-page.active { 
	background: #3f51b5;
}
.ms-view-detail-content {
	background: #fff;
	color: #757575;
}
/*==================== plans  ====================*/
.ms-plans .overlay {
	background: rgba(245,245,245,1);
}
.ms-plans .ms-plan header {
	background: #3f51b5;
	color: #fff;
}
.ms-plan-features {
	background: #fff;
	border-color: #e6e9ed;
}
.ms-plans .ms-plan .ms-pupular-ribbon {
	background-color: #32c5d2;
	color: #fff;
}
.ms-plans .ms-plan .ms-new-ribbon {
	background-color: #4caf50;
	color: #fff;
}
.ms-plans .ms-plan .ms-upcoming-ribbon {
	background-color: #e64a19;
	color: #fff;
}
.ms-plan-price .ms-currency, .ms-plan-price .ms-period {
	color: #fff;
}
.ms-plans .ms-plan h2 {
	background: #fff;
	color: #212121;
}
/*==================== req  ====================*/
.ms-req .overlay {
	background: #3f51b5;
}
.ms-req h5, .ms-req p, .ms-req a {
	color: #fff;
}
.ms-req .form-control {
	background: rgba(0,0,0,0);
	color: #fff;
}
/*==================== contact  ====================*/
.ms-contact .ms-widget-address li span.icon-addr {
	background: #3f51b5;
	color: #fff;
}
.ms-contact .ms-widget-address > li {
	color: #959595;
	border-color: #ebebeb;
}
.ms-contact .ms-widget-address li span.icon-addr i {
	color: #fff;
}
/*==================== Body & Global ====================*/
.wrapper {
	background: transparent;
}
body {
	background: #eee;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #212121;
}
a {
	color: #3f51b5;
}
blockquote {
	border-color: #3f51b5;
}
.form-control {
	border-color: #ebebeb;
	color: #ccc;
}
.form-control:hover, .form-control:focus, .form-control:active {
	border-color: #3f51b5;
}
.form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder {
	color: #ccc;
}
textarea {
	border-color: #ebebeb;
}
textarea:hover, textarea:focus {
	border-color: #349BD6;
}
input:not([type]) {
	border-color: #ebebeb;
	color: #333333;
}
input:not([type]):hover, input:not([type]):focus {
	border-color: #3f51b5;
}
input[type="text"] {
	border-color: #ebebeb;
	color: #333333;
}
input[type="text"]:hover, input[type="text"]:focus {
	border-color: #349BD6;
}
input[type="email"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="email"]:hover, input[type="email"]:focus {
	border-color: #349BD6;
}
input[type="number"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="number"]:hover, input[type="number"]:focus {
	border-color: #349BD6;
}
input[type="password"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="password"]:hover, input[type="password"]:focus {
	border-color: #349BD6;
}
input[type="tel"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="tel"]:hover, input[type="tel"]:focus {
	border-color: #349BD6;
}
input[type="url"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="url"]:hover, input[type="url"]:focus {
	border-color: #349BD6;
}
input[type="reset"], input[type="submit"] {
	background: #349BD6;
	border-color: #349BD6;
	color: #fff;
}
input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus { 
	background: #1a2128;
	border-color: #1a2128;
	color: #fff;
}
select {
	background-color: #fff;
	border-color: #ebebeb;
	color: #444;
}
select:hover, select:focus {
	border-color: #3f51b5;
}
blockquote::before {
	color: #d0d0d0;
}
button {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
button:hover, button:focus {
	background: #1a2128;
	border-color: #1a2128;
	color: #fff;
}
.btn {
	color: #fff;
}
.btn-theme {
	background: #3f51b5;
}
.btn-theme:hover, .btn-theme:focus {
	background: #1a2128;
	color: #fff;
}
.btn-theme-two {
	background: #fff;
	border-color: #fff;
	color: #3f51b5;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.pagination > li > a {
	color: #333;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.pagination > .active > span:hover, .pagination > .active > span:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.pagination > li > a:hover, .pagination > li > a:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.grey-bg {
	background: #f9f9f9;
}
.ms-error-404 h1 {
	color: #3f51b5;
}
.ms-search .btn-submit {
	color: #fff;
}
/*---- alerts ----*/
.alert-success, .text-success {
	background-color: #2ac56c;
	color: #fff;
}
.alert-info, .text-info {
	background-color: #4593e3;
	color: #fff;
}
.alert-danger, .text-danger {
	background-color: #f06060;
	color: #fff;
}
.alert-warning, .text-warning {
	background-color: #fcd04b;
	color: #fff;
}
.progress-bar-success {
	background-color: #2ac56c;
	color: #fff;
}
.progress-bar-info {
	background-color: #4593e3;
	color: #fff;
}
.progress-bar-danger {
	background-color: #f06060;
	color: #fff;
}
.progress-bar-warning {
	background-color: #fcd04b;
	color: #fff;
}
.subscription-success {
	color: #2ac56c;
}
.subscription-error {
	color: #f06060;
}
/*---- accordion-heading ----*/
.ms-accordion-heading {
	background-color: #f5f5f5;
	border-color: rgba(0,0,0,0.1);
	color: #333;
}
.ms-accordion-heading a {
	color: #3f51b5;
}
.ms-accordion-body {
	border-color: #ccc;
}
/*---- heading ----*/
.ms-heading .ms-heading-inner {
	color: #333;
}
.ms-heading h3 span {
	color: #3f51b5;
}
/*---- breadcrumb ----*/
.ms-breadcrumb-title h1 {
	color: #fff;
}
.ms-page-breadcrumb > li + li:before {
	color: #fff;
}
.ms-page-breadcrumb > li a {
	color: #fff;
}
.ms-page-breadcrumb > li a:hover {
	color: #3f51b5;
}
/*==================== sidebar & widgets ====================*/
.ms-sidebar {
	border-color: #eee;
} 
.ms-sidebar .ms-widget h6, .ms-sidebar .ms-widget h2 {
	color: #1c1f24;
}
.ms-sidebar a {
    color: #666;
}
.ms-sidebar a:hover, .ms-sidebar a:focus {
	color: #3f51b5;
}
.ms-sidebar .widget_search .btn {
	color: #fff;
}
.ms-sidebar .widget_search .btn:hover, .ms-sidebar .widget_search .btn:focus {
	background: #161c28;
}
.ms-sidebar .ms-category-widget ul li {
	border-color: #f0f0f0;
}
.ms-sidebar .ms-widget ul li {
	border-color: #f0f0f0;
}

.ms-sidebar .ms-widget .textwidget {
	color: #969ea7;
}
.ms-sidebar .ms-widget-tags a, .ms-sidebar .ms-widget .tagcloud a {
	background: #f0f0f0;
	border-color: #f0f0f0;
	color: #999;
}
.ms-sidebar .ms-widget-tags a:hover, .ms-sidebar .ms-widget .tagcloud a:hover {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.ms-sidebar .calendar_wrap tbody #today {
	background: #349BD6;
	color: #fff;
}
.ms-sidebar .calendar_wrap table tbody #today:hover {
	background: #f1f1f1;
	color: #333;
}
.ms-sidebar .calendar_wrap table tbody td {
	border-color: #ddd;
	color: #999;
}
.ms-sidebar .calendar_wrap table tbody td:hover {
	background: #f1f1f1;
	color: #333;
}
.ms-sidebar .calendar_wrap table tbody td a {
	color: white;
	display: block;
	background-color: #349BD6;
}
.ms-sidebar .calendar_wrap table tfoot {
	background: #f5f5f5;
	border-color: #ddd;
	color: #333;
}
.ms-sidebar .calendar_wrap table thead th {
	border-color: #ddd;
	color: #969ea7;
}
.ms-sidebar .calendar_wrap table caption {
	background: #eee;
	border-color: #ddd;
}

.ms-sidebar .ms-widget .ms-social li span.icon-soci {
	background: rgba(0,0,0,0);
}
.ms-sidebar .ms-widget .ms-social li span.icon-soci:hover {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.ms-sidebar .ms-widget .ms-social li span.icon-soci:hover i {
	color: #fff;
}
.ms-sidebar .ms-widget .ms-widget-address li span.icon-addr {
	background: #3f51b5;
	color: #fff;
}
.ms-sidebar .widget_product_search .btn {
	background: #3f51b5;
	color: #fff;
}
.ms-sidebar .ms-mailchimp-widget .btn {
	background: #3f51b5;
	color: #fff;
}
.ms-sidebar .ms-mailchimp-widget .btn:hover, .ms-sidebar .ms-mailchimp-widget .btn:focus {
	background: #161c28;
}
.ms-sidebar .ms-widget .ms-twitter-feed li {
	color: #969ea7;
}
.ms-sidebar .ms-widget .ms-twitter-feed li a {
	color: #3f51b5;
}
.ms-sidebar .ms-widget .ms-social li a {
	color: #3f51b5;
}

/*==================== footer & widgets ====================*/
footer .ms-footer-copyright p, footer .ms-footer-copyright a {
	color: white;
}
footer .ms-footer-copyright a:hover, footer .ms-footer-copyright a:focus {
	color: #fff;
}
footer .ms-widget h6 {
	color: #fff;
}
footer a {
	color: #FFF;
}
footer a:hover, footer a:focus {
	color: #fff;
}
footer p {
	color: #969ea7;
}
footer .ms-widget ul li {
	border-color: #969ea7;
	color: #fff;
}
footer .ms-widget ul li a:hover {
	color: #fff;
}
footer .ms-widget .list-unstyled li {
	border-color: #969ea7;
}
footer .ms-widget .list-unstyled li a {
	color: #969ea7;
}
footer .ms-widget .list-unstyled li a:hover {
	color: #fff;
}
footer .ms-widget .ms-widget-tags a, footer .ms-widget .tagcloud a {
	border-color: #969ea7;
	color: #969ea7;
}
footer .ms-widget .ms-widget-tags a:hover, footer .ms-widget .tagcloud a:hover {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
footer .calendar_wrap caption {
	background: #eee;
	border-color: #FFF;
}
footer .calendar_wrap tbody #today {
	background: #3f51b5;
}
footer .calendar_wrap table thead th {
	border-color: #FFF;
}
footer .calendar_wrap a {
	color: #fff;
}
footer .calendar_wrap tbody td a{
	background-color: blue;
	display: block;
}
footer .ms-widget .calendar_wrap table thead th {
	color: #fff;
}
footer .calendar_wrap table tbody #today {
	color: #fff;
}
footer .calendar_wrap table tbody #today:hover {
	background: #f1f1f1;
	color: #333;
}
footer .calendar_wrap table tbody td {
	color: #fff;
}
footer .calendar_wrap table tbody td:hover {
	background: #f1f1f1;
	border-color: #ddd;
	color: #333;
}
footer .ms-widget .calendar_wrap table tfoot, footer .ms-widget .calendar_wrap table tfoot a {
	color: #333;
}
footer .calendar_wrap table tfoot {
	background: #f5f5f5;
	border-color: #ddd;
}
footer .ms-calendar a:hover {
	color: #969ea7;
}
footer .ms-calendar thead th {
	color: #969ea7;
}
footer .ms-calendar a {
	color: #fff;
}
footer .ms-calendar tbody td {
	color: #fff;
}
footer .ms-calendar tbody #today {
	color: #fff;
}
footer .ms-calendar tbody #today:hover {
	color: #333;
}
footer .ms-calendar tbody td:hover {
	color: #333;
}
footer .ms-calendar tfoot {
	color: #333;
}
footer .ms-calendar tfoot a {
	color: #333;
}
footer .ms-widget .textwidget {
	color: #969ea7;
}
footer .ms-blog-post span {
	color: #969ea7;
}
footer .ms-widget .ms-social li span.icon-soci {
	background: rgba(0,0,0,0);
	border-color: #969ea7;
	color: #969ea7;
}
footer .ms-widget .ms-social li span.icon-soci:hover {
	background-color: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
footer .ms-widget .ms-social li span.icon-soci:hover i {
	color: #fff;
}
footer .ms-widget .ms-widget-address li {
	color: #969ea7;
}
footer .ms-widget .ms-widget-address li span.icon-addr {
	background: #3f51b5;
	color: #fff;
}
footer .ms-widget .ms-opening-hours li {
	color: #969ea7;
}
footer .ms-widget .ms-opening-hours li:hover {
	color: #fff;
}
footer .ms-widget .ms-twitter-feed li {
	color: #969ea7;
}
footer .ms-widget .ms-twitter-feed li a {
	color: #3f51b5;
}
footer .ms-widget .form-control {
	background: rgba(0,0,0,0);
	border-color: #969ea7;
}
footer .ms-widget .ms-widget-quote .form-control {
	background: #1a2128;
	color: #969ea7;
}
footer .ms-widget-tollfree li a {
	color: #969ea7;
}
footer .ms-widget-tollfree li i {
	color: #969ea7;
}
footer .ms-widget-payment a {
	color: #969ea7;
}
footer .wpcf7-form p {
	color: #969ea7;
}
footer .ms-widget .wpcf7-form .wpcf7-form-control {
	background: #1a2128;
	color: #969ea7;
}
footer .ms-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	color: #fff;
}
footer .ms-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
	background: #1a2128;
}
footer .ms-widget.widget_search .btn {
	border-color: none;
	background-color: transparent;
}
footer .ms-widget.widget_search .btn:hover, footer .ms-widget.widget_search .btn:focus {
	background: #161c28;
	border-color: #161c28;
	color: #fff;
}
footer .ms-mailchimp-widget .btn {
	background: #3f51b5;
}
footer .widget_rss {
	color: #fff;
}
footer .ms-widget .ms-subscribe {
	border-color: #3f51b5;
}
footer .ms-widget .ms-subscribe:hover, footer .ms-widget .ms-subscribe:focus {
	background: #161c28;
	border-color: #161c28;
	color: #fff;
}
footer .ms-widget-payment a:hover {
	color: #fff;
}
footer .widget_product_search .btn {
	color: #fff;
}
footer .ms-widget .ms-search-widget .btn:hover, footer .ms-widget .ms-search-widget .btn:focus {
	color: #fff;
}
footer .ms-footer-widget-area {
	border-top-color: rgba(225,225,225,0.2);
}
footer .ms-social li span.icon-soci {
	background: rgba(255, 255, 255, 0.08);
	color: white;
}
footer .ms-social li span.icon-soci:hover, footer .ms-social li span.icon-soci:focus {
	background: #3f51b5;
}
footer .ms-social li span.icon-soci:hover a, footer .ms-social li span.icon-soci:focus a {
	color: #fff;
}
.ti_scroll {
	background: #349BD6;
	border-color: #349BD6;
}
.ti_scroll i {
	color: #fff;
}
/*==================== WP Styles  & woocomerce ====================*/
.entry-header h1, .entry-header h1::before {
	color: #3f51b5;
}
.entry-content a, .entry-summary a, .entry-footer a {
	color: #3f51b5;
}
.entry-content a:hover, .entry-summary a:hover, .entry-footer a:hover {
	color: #1a2128;
}
.gallery-caption {
	color: #686868;
}
.wp-caption .wp-caption-text {
	color: #686868;
}
.wpcf7-form .wpcf7-form-control {
	border-color: #ebebeb;
}
.wpcf7-form .wpcf7-form-control:hover, .wpcf7-form .wpcf7-form-control:focus {
	border-color: #3f51b5;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
	border-color: #3f51b5;
	color: #fff;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
	background: #1a2128;
	border-color: #1a2128;
}
.woocommerce-page .products h3 {
	color: #333;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
	color: #333;
}
.related.products h2 {
	color: #333;
}
.woocommerce nav.woocommerce-pagination ul li a {
	color: #333;
}
.woocommerce nav .woocommerce-pagination ul li span {
	color: #333;
}
.woocommerce nav.woocommerce-pagination ul li a {
	border-color: #ddd;
}
.woocommerce nav .woocommerce-pagination ul li span {
	border-color: #ddd;
}

/*----woocommerce----*/ 
.woocommerce-cart table.cart td.actions .coupon .input-text {
	border-color: #ebebeb;
}
/*-theme-background-*/ 
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce-page .products a.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt[disabled]:disabled, .woocommerce #respond input#submit.alt[disabled]:disabled:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt[disabled]:disabled, .woocommerce a.button.alt[disabled]:disabled:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt[disabled]:disabled, .woocommerce button.button.alt[disabled]:disabled:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt[disabled]:disabled, .woocommerce input.button.alt[disabled]:disabled:hover {
	background: #3f51b5;
}
/*-theme-color-*/ 
.woocommerce a, .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page .products .added_to_cart, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	color: #3f51b5;
}
/*-theme-border-color-*/ 
.woocommerce-cart table.cart td.actions .coupon .input-text:hover, .woocommerce-cart table.cart td.actions .coupon .input-text:focus, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce nav .woocommerce-pagination ul li a:focus, .woocommerce nav .woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	border-color: #3f51b5;
}

/*-theme-secondary-background-*/ 
.woocommerce #review_form #respond .form-submit input:hover, .woocommerce-page .products a.button:hover, .woocommerce .cart .button:hover, .woocommerce .cart input.button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce a.button:hover, .woocommerce a.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce input.button:hover, .woocommerce input.button:focus {
	background: #161c28;
}
/*-theme-secondary-color-*/ 
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #161c28;
}
/*-theme-color-white-*/ 
.woocommerce-page .woocommerce .woocommerce-info a, .woocommerce-page .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-message a, .woocommerce-page .woocommerce-message a:hover, .woocommerce-page .woocommerce-message a:focus, .woocommerce .woocommerce-message::before, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-error a, .woocommerce-page .woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-info a, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce .woocommerce-info, .woocommerce-cart .wc-proceed-to-checkout a .checkout-button, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce nav .woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page .products a.button, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce a.button:hover, .woocommerce a.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce input.button:hover, .woocommerce input.button:focus {
	color: #fff;
}

.woocommerce .products span.onsale, .woocommerce span.onsale {
	background: #4caf50;
}

.woocommerce-page .products a .price, .woocommerce ul.products li.product .price, .woocommerce div.product p.price, .woocommerce div.product span.price {
	color: #000;
}
.woocommerce-page .products a .price ins {
	color: #e96656;
}
.woocommerce-page .products .star-rating, .woocommerce-page .star-rating span, .woocommerce-page .stars span a {
	color: #ffc107;
}

/*woocommerce-messages*/
.woocommerce-page .woocommerce-message {
	background: #2ac56c;
}
.woocommerce-page .woocommerce-message a {
	background-color: #4caf50;
}
.woocommerce-page .woocommerce-message a:hover, .woocommerce-page .woocommerce-message a:focus {
	background-color: #388e3c;
}
.woocommerce-page .woocommerce-error {
	background: #ff5252;
}
.woocommerce-page .woocommerce-error a {
	background-color: #F47565;
}
.woocommerce-page .woocommerce-info {
	background: #4593e3;
}
.woocommerce-page .woocommerce-info a {
	background-color: #5fb8dd;
}
.woocommerce-page .woocommerce .woocommerce-info {
	background: rgb(58, 176, 226);
}

/*woocommerce-Price-Slider*/ 
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background: #3f51b5;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background: #3f51b5;
}
.woocommerce-page .woocommerce-ordering select {
	color: #A0A0A0;
}
/*woocommerce-price-filter*/
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #1a2128;
}
/*woocommerce-form*/
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	border-color: #eee;
	color: #ccc;
}

label {
	color: #333 !important;
}

footer .widget_search .input-group .form-control{
	background-color: white;
}

