/*
Theme Name: Moneysite
Theme URI: https://www.moneysite.com/
Author: Jazib Zaman
Author URI: https://www.moneysite.com/about/
Description: MoneySite is a financial WordPress blog theme that is suitable for both fininial products and money products. It is highly responsive(desktops, tablets and smartphones).Moneysite is created using using Twitter Bootstrap Framework and works with both list view and grid view. The theme is highly customizable and one can change its entire look and colors by using the theme's customizer. You can also have a look at moneysite demo here http://moneysite.com/demo/ and can find more inforamtion about theme here https://www.moneysite.com/wordpress-theme/ . MoneySite is a great design idea for websites related to finance, cryptocurrency, trading, money-transfers and many more.
Version: 1.0.9
Tags: one-column, two-columns, three-columns, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, custom-logo, featured-images, footer-widgets, theme-options, threaded-comments, translation-ready, blog, grid-layout
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: moneysite
*/

/*---------------------------------------
	1.1.Top Bar            
-----------------------------------------*/
.ms-head-detail {
	padding: 5px 0;
}
.ms-head-detail .info-left {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
.ms-head-detail .info-left li {
	display: inline-block;
	margin-right: 15px;
	padding: 0;
}
.ms-head-detail .info-left li a {
	font-size: 13px;
}
.ms-head-detail .info-left i {
	font-size: 14px;
	padding-right: 10px;
}
.info-right {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}
.info-right li {
	display: inline-block;
	margin-right: 15px;
	padding: 0;
}
.ms-head-detail .info-right li a {
	font-size: 13px;
}
.ms-head-detail .info-right i {
	font-size: 14px;
	padding-right: 10px;
}
.ms-head-detail .ms-social {
	padding: 0;
}
.ms-head-detail .ms-social li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.ms-head-detail .ms-social li a:hover {
	padding-left: 0;
}
.ms-head-detail .ms-social li span.icon-soci {
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 18px;
	margin: 0 5px 0 0;
	text-align: center;
	padding: 2px 0px 0 6px;
}
.ms-head-detail .ms-social li span.icon-soci:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
.ms-head-detail .ms-social li span.icon-soci i {
	font-size: 14px;
}
.ms-head-detail .ms-cart {
	position: relative;
}
.ms-head-detail .ms-cart-count {
    background: #e33729;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    height: 16px;
    line-height: 15px;
    margin-left: -15px;
    margin-top: 0;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 16px;
}
/*---------------------------------------
	Header Widget      
-----------------------------------------*/
.header-widget .ms-header-box {
	clear: both;
	margin: 18px 0 0 0;
}
.header-widget .ms-header-box-icon {
	float: left;
	display: inline-block;
	height: auto;
	margin-right: 0;
	position: relative;
	text-align: center;
	top: 5px;
	width: auto;
	line-height: 35px;
}
.header-widget .ms-header-box-icon i {
	border-radius: 3px;
	height: 38px;
	line-height: 35px;
	text-align: center;
	width: 38px;
	font-size: 26px;
	border-width: 1px;
	border-style: solid;
}
.header-widget .ms-header-box-icon i:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
.header-widget .ms-header-box-info {
	margin-left: 20px;
	padding-left: 25px;
}
.header-widget .ms-header-box-info h4 {
	font-size: 13px;
	line-height: 15px;
	padding: 2px 0 0;
}
.header-widget .ms-header-box-info p {
	line-height: 14px;
}
.header-widget .ms-header-box .btn-quote {
	border-width: 2px;
	border-style: solid;
}
 img {
	max-width: 100%;
}
.header-widget .ms-header-box-info p {
    line-height: 14px;
    font-size: 12px;
}
.header-widget .ms-header-box-icon i {
    background: #fff;
    color: #349BD6;
}
.header-widget .ms-header-box-icon i {
    border-radius: 3px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    width: 38px;
    font-size: 26px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}

/* General Setting */
h1,h2,h3,h4,h5,h6,a,span,p{
	word-wrap: break-word;
}
/*--------------------------   Theme Menu  ------------------------*/
.navbar-wp {
	margin: 0;
	padding: 0;
	border-radius: 0;
	z-index: 1000;
}
.navbar-brand {
	font-size: 26px;
	height: auto;
	line-height: 25px;
	margin-right: 50px;
	padding: 15px 0;
	text-shadow: 2px 2px 1px rgba(150, 150, 183, 0.18);
}
.navbar-brand span.site-description {
	font-size: 13px;
	line-height: 0;
}
.navbar-wp .navbar-nav > li> a {
	padding: 16px 16px;
	margin-right: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.05em;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	transition: all .25s ease-out;
	margin-bottom: 0px;/*
	font-family: 'Montserrat', sans-serif;*/
}
.navbar-wp .navbar-nav > li > ul::before {
	content: "";
	left: 15%;
	position: absolute;
	top: -22px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-style: solid;
	border-width: 11px;
	width: 0;
	z-index: 1100;
	display: none;
}
.navbar-wp .navbar-nav > li > ul > li > a i {
	padding-right: 10px;
}
.navbar-wp .navbar-nav > .disabled > a, .navbar-wp .navbar-nav > .disabled > a:hover, .navbar-wp .navbar-nav > .disabled > a:focus {
	background-color: transparent;
}
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	background: transparent;
}
.navbar-toggle {
	border-radius: 2px;
	margin-top: 20px;
	padding: 12px 16px 7px 16px
}
.navbar-wp .dropdown-menu {
	min-width: 200px;
	padding: 0;
	border: none;
	border-radius: 0;
	z-index: 10;
	right: auto;
	left: 0;
}
.menu-item-has-children .dropdown-menu.sm-nowrap li a{
	white-space: normal;
}
.navbar-wp .dropdown-menu > li:last-child {
	border: 0
}
.navbar-wp .dropdown-menu > li > a {
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
}
.navbar-nav > li:last-child > .dropdown-menu {
	right: 0;
	left: auto;
}
.navbar-wp.affix .navbar-inner {
	border-bottom: 0
}
.navbar-wp.affix .navbar-nav > li > a {
	padding: 18px 16px;
	margin-right: 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase
}
.dropdown-submenu {
	position: relative
}
.dropdown-submenu > .dropdown-menu {
	top: -1px;
	left: 100%;
	margin-top: 0;
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
	padding: 0
}
.dropdown-submenu.pull-left {
	float: none
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px
}
.ms-search-box > .dropdown-menu {
	right: 0;
	left: auto;
}
.ms-search-box .ms-search .btn {
	padding: 2px 12px;
	border-radius: 0 3px 3px 0;
	height: 40px;
	border-width: 1px;
	border-style: solid;
}
/*---------------------------------------
	Body & Global           
-----------------------------------------*/
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.boxed {
	width: 1170px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
}
a {
	text-decoration: none;
}
body a:focus, body a:hover {
	outline: none;
	text-decoration: none;
}
select {
	background-clip: padding-box;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 3px;
	color: #444;
	display: block;
	font-weight: 400;
	overflow: hidden;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance:none;
}
textarea {
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	width: 100%;
}
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: inherit;
	padding: 6px 12px;
	line-height: 25px;
	border-width: 2px;
	border-style: solid;
}
input[type="reset"], input[type="submit"], button {
	padding: 5px 35px;
	line-height: 30px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
input:not([type]):hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="url"]:hover, input[type="text"]:hover, input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="text"]:focus {
	border-width: 2px;
	border-style: solid;
}
input[type="submit"]:hover, button:hover, input[type="submit"]:focus, button:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
mark, .mark {
	padding: 2px 5px;
	border-radius: 3px;
}
/*Responsive Video*/
.responsive-video {
	height: 0;
	padding-top: 1px;
	position: relative;
	padding-bottom: 56.25%; /*16:9*/
}
.responsive-video iframe {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	border: none;
}
/*---------------------------------------
	Typography        
-----------------------------------------*/
h1, .h1 {
	font-size: 34px;
	line-height: 40px;
}
h2, .h2 {
	font-size: 32px;
	line-height: 35px;
}
h3, .h3 {
	font-size: 26px;
	line-height: 30px;
}
h4, .h4 {
	font-size: 24px;
	line-height: 25px;
}
h5, .h5 {
	font-size: 20px;
	line-height: 20px;
}
h6, .h6 {
	font-size: 16px;
	line-height: 20px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	letter-spacing: -0.05em;
}
.alignright {
	text-align: right;
	margin-bottom: 10px;
}
.alignleft {
	text-align: left;
	margin-bottom: 10px;
}
.aligncenter {
	text-align: center;
	margin-bottom: 10px;
}
.ms-accordion-heading {
	margin: 10px 0;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}
.ms-accordion-body {
	border-width: 1px;
	border-style: solid;
	margin: -10px 0 10px 0;
	padding: 10px;
	transition: all 0.4s ease 0s;
}
.ms-accordion-heading > a.collapsed .icon-expanded {
	display: none;
}
.ms-accordion-heading > a i.icon-expanded {
	display: none;
}
.ms-accordion-heading > a.collapsed .icon-collapsed {
	display: inline-block;
	vertical-align: baseline;
}
blockquote {
	position: relative;
	width: 100%;
	border-width: 0 0 0 5px;
	border-style: solid;
}
blockquote::before {
	color: #d0d0d0;
	content: "\f10d";
	display: table;
	float: left;
	font-family: "FontAwesome";
	font-size: 28px;
	margin-top: 6px;
	font-weight: normal;
	width: 6%;
}
blockquote p {
	font-style: italic;
	width: 94%;
	display: table;
}
/*---------------------------------------
	Alerts Styles           
-----------------------------------------*/
.alert-success, .text-success {
	background-color: #2ac56c;
	color: #fff;
}
.alert-info, .text-info {
	background-color: #4593e3;
	color: #fff;
}
.alert-danger, .text-danger {
	background-color: #f06060;
	color: #fff;
}
.alert-warning, .text-warning {
	background-color: #fcd04b;
	color: #fff;
}
.progress-bar-success {
	background-color: #2ac56c;
	color: #fff;
}
.progress-bar-info {
	background-color: #4593e3;
	color: #fff;
}
.progress-bar-danger {
	background-color: #f06060;
	color: #fff;
}
.progress-bar-warning {
	background-color: #fcd04b;
	color: #fff;
}
.ms-skills .progress {
	border-radius: 0;
}
.ms-skills .progress .progress-bar {
	overflow: hidden;
	position: absolute;
}
.subscription-success {
	color: #2ac56c;
}
.subscription-error {
	color: #f06060;
}
/*---------------------------------------
	Button Styles           
-----------------------------------------*/
.btn {
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn-theme {
	border: none;
}
.btn-theme:hover, .btn-theme:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.btn-theme-two {
	margin-left: 15px;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-radius: 50%;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 50%;
}
.pagination > li > a, .pagination > li > span {
	margin: 0 3px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #ddd;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	transition: all 0.3s ease 0s;
}
button.mfp-close:hover, button.mfp-close:focus {
	background: inherit;
}
.error-404 .input-group-btn.btn-default {
	background-color: transparent;
}
.error-404 .input-group-btn .btn{
	padding: 3px 17px;
}
/*--WP--*/

.bypostauthor > article .fn:after {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}
.sticky {
	display: block;
}
.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}
.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.content-area img.alignnone, .content-area figure.alignnone img {
	width: 100%;
	height: auto;
}
.content-area figure {
	width: 100%;
}
.entry-header h1 {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
	font-size: 24px;
}
.entry-header h1::before {
	border: 1px solid;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px;
	transition: all 0.4s ease 0s;
}
.entry-header h1:hover::before {
	width: 13%;
}
.entry-footer {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.screen-reader-text{
	display: none;
}
.entry-footer .screen-reader-text {
	display: none;
}
img.alignnone {
	width: 100%;
	height: auto;
}
img.size-large {
	width: 100%;
	height: auto;
}
*:focus {
	outline: 0;
}
.select2-container .select2-choice {
	height: 40px;
	padding: 6px 12px;
}
/*----contactform----*/
.wpcf7-form .wpcf7-form-control {
	margin-top: 6px;
	margin-bottom: 15px;
	font-size: 12px;
	height: 40px;
	padding: 6px 12px;
	display: block;
	line-height: 1.42857143;
	width: 100%;
	border-width: 1px;
	border-style: solid;
}
.wpcf7-form .wpcf7-textarea {
	height: 150px;
	border-radius: 3px;
}
.wpcf7-form .wpcf7-form-control:hover, .wpcf7-form .wpcf7-form-control:focus {
	box-shadow: none;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
	width: auto;
}
/*----contactform footer-widget----*/
footer .ms-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	margin-bottom: 0;
}
/*---------------------------------------
=========================================
	content-Home-Sections
=========================================
-----------------------------------------*/

/*---------------------------------------
	ms-slider-warraper          
-----------------------------------------*/
.ms-slider-warraper #ms-slider {
	margin: 0;
	position: relative;
	z-index: 1;
	float: left;
	width: 100%;
}
.ms-slider-warraper #ms-slider .item img {
	width: 100%;
	min-height: 400px;
}
.ms-slider-warraper #ms-slider .item iframe {
	border: 6px solid #fff;
}
/*--------------- ti slider inner ---------------*/
#ms-slider .ms-slider-inner {
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
	background: rgba(0,0,0,0.4);
}
#ms-slider .inner-table {
	display: table;
	height: 100%;
}
#ms-slider .inner-table-cell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	width: 100%;
}
#ms-slider .slide-caption {
	width: 60%;
	margin: auto;
	text-align: center;
}
#ms-slider .slide-caption .description {
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	margin: 0 auto;
	width: 70%;
}
#ms-slider .slide-caption .description p {
	margin: 0;
}
#ms-slider p {
	font-size: 14px;
}
/*--------------- ti slider inner formats---------------*/
/*quote-format*/
#ms-slider .item .ms-slider-inner .quote-format {
	width: 65%;
	margin: 0 auto;
	position: relative;
}
#ms-slider .item .ms-slider-inner .quote-format .quote-icon {
	border-radius: 3px;
	height: 75px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 75px;
	text-align: center;
}
#ms-slider .item .ms-slider-inner .quote-format .quote-icon i {
	bottom: 0;
	font-size: 40px;
	left: 0;
	margin: 0 auto;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
#ms-slider .item .ms-slider-inner .quote-format .quote-format-inner {
	display: table;
	position: relative;
	left: 15%;
	text-align: left;
}
#ms-slider .item .ms-slider-inner .quote-format .quote-format-inner h1 {
	margin-top: 0;
}
#ms-slider .item .ms-slider-inner .quote-format .quote-format-inner p {
	width: 85%;
}
/*aside-format*/
#ms-slider .item .ms-slider-inner .aside-format {
	width: 65%;
	margin: 0 auto;
	position: relative;
}
#ms-slider .item .ms-slider-inner .aside-format .aside-icon {
	border-radius: 3px;
	height: 75px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 75px;
	text-align: center;
}
#ms-slider .item .ms-slider-inner .aside-format .aside-icon i {
	bottom: 0;
	font-size: 40px;
	left: 0;
	margin: 0 auto;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
#ms-slider .item .ms-slider-inner .aside-format .aside-format-inner {
	display: table;
	position: relative;
	left: 15%;
	text-align: left;
}
#ms-slider .item .ms-slider-inner .aside-format .aside-format-inner h1 {
	margin-top: 0;
}
#ms-slider .item .ms-slider-inner .aside-format .aside-format-inner p {
	width: 85%;
}
/*audio-format*/
#ms-slider .item .ms-slider-inner .audio-format {
	width: 65%;
	margin: 0 auto;
	position: relative;
}
#ms-slider .item .ms-slider-inner .audio-format .audio-icon {
	border-radius: 3px;
	height: 75px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 75px;
	text-align: center;
}
#ms-slider .item .ms-slider-inner .audio-format .audio-icon i {
	bottom: 0;
	font-size: 40px;
	left: 0;
	margin: 0 auto;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
#ms-slider .item .ms-slider-inner .audio-format .audio-format-inner {
	display: table;
	position: relative;
	left: 15%;
	text-align: left;
}
#ms-slider .item .ms-slider-inner .audio-format .audio-format-inner p {
	width: 85%;
}
#ms-slider .item .ms-slider-inner .audio-format audio {
	display: table-row;
	padding-top: 5px;
}
/*video-format*/
#ms-slider .item .ms-slider-inner .video-format .video-format-inner {
	margin: -25px 0 0;
	text-align: left;
}
/*--------------- ti slider Custom Buttons---------------*/
.btn.btn-tislider, .btn.btn-tislider:hover, .btn.btn-tislider:focus {
	outline: none;
	margin: 20px auto;
	letter-spacing: 1px;
}
.btn.btn-tislider-two { 
	outline: none;
	letter-spacing: 1px;
	float: right;
	margin-top: 10px;
}
/*---------------------------------------
	ms-section         
-----------------------------------------*/
.ms-section {
	padding: 40px 0;
	margin: 0;
	border-bottom: 1px solid #e8e8e9;
}
#content {
	padding: 60px 0;
}
/*---------------------------------------
	ms-heading           
-----------------------------------------*/
.ms-heading {
	margin-bottom: 35px;
	text-align: center;
}
.ms-heading h1 {
	font-size: 26px;
	font-weight: normal;
}
.ms-heading h3 {
	font-size: 22px;
	font-weight: normal;
}
.ms-heading .ms-heading-inner {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	padding: 0 0 18px;
	line-height: 40px;
	text-transform: capitalize;
	width: auto;
	letter-spacing: 1px;
}
.ms-heading .ms-heading-inner::before {
	width: 100px;
	border: 1px solid;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	content: "";
	bottom: -1px;
	display: block;
	z-index: 444;
}
.ms-heading .ms-heading-inner i {
	display: block;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	text-align: center;
	bottom: -20px;
	width: 30px;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.ms-heading-bor-bt h5 {
	position: relative;
	font-size: 20px;
	margin-bottom: 40px;
	padding-bottom: 15px;
}
.ms-heading-bor-bt h5::before {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
/*---------------------------------------
	ms-sercive          
-----------------------------------------*/
.ms-service {
	box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.08);
	cursor: pointer;
	margin-bottom: 30px;
	position: relative;
	text-align: left;
	z-index: 12;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	display: none;
}
.ms-service .ms-service-inner {
	padding: 30px;
	background: rgba(0,0,0,0.2);
}
.ms-service:hover .ms-service-inner {
	box-shadow: 0 0 150px rgba(0, 0, 0, 0.5) inset, 0 0 150px rgba(0, 0, 0, 0.5) inset;
	content: "";
	transition: box-shadow 0.3s ease 0s;
}
.ms-service a {
	text-decoration: none;
	z-index: 15;
	position: relative;
}
.ms-service :hover .ms-service-inner i {
	border-width: 2px;
	border-style: solid;
	z-index: 111
}
.ms-service:hover .ms-service-inner .btn-more {
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
}
.ms-service-inner .ser-icon {
	border: 1px dashed #cccccc;
	border-radius: 2%;
	height: 80px;
	margin: 10px auto 0;
	text-align: center;
	transition: color 0s ease 0s, all 250ms ease 0s;
	width: 80px;
}
.ms-service-inner i {
	font-size: 36px;
	line-height: 80px;
}
.ms-service-inner h3 {
	letter-spacing: 1px;
	transition: all 0.5s ease 0s;
	font-size: 20px;
	width: 30%;
}
.ms-service-inner p {
	transition: all 0.5s ease 0s;
	margin-bottom: 20px;
}
.ms-service-inner .btn-more {
	margin: 10px 0 0;
	padding: 5px 18px;
	transition: all 0.3s ease 0s;
	border-width: 2px;
	border-style: solid;
}
.ms-port-load-hide-ser {
	display: none;
	float: left;
}
.ms-port-load-show-ser {
	display: block;
	float: left;
}
.ms-port-load-hide-ser, .ms-port-load-show-ser i {
	font-size: 20px;
	margin-right: 8px;
}
/*---------------------------------------
	ms-portfolio          
-----------------------------------------*/
.ms-portfolio-box {
	position: relative;
	text-align: center;
	padding-bottom: 15px;
	border-width: 0 0 2px;
	border-style: solid;
	border-color: #e6e9ed;
	margin-bottom: 30px;
	background: #fff;
	display: none;
}
.ms-portfolio-box:hover {
	border-color: #ccc;
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
	transform: translateY(-8px);
	transition: all 0.4s ease-in-out 0s;
}
.ms-portfolio-box figure {
	position: relative;
	border-bottom: 1px solid #ccc;
}
.ms-portfolio-box .overlay {
	opacity: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	transition: all 0.4s ease-in-out 0s;
}
.ms-portfolio-box:hover .overlay {
	opacity: 1;
}
.ms-portfolio-box .overlay .btn {
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	color: #fff;
	margin-top: 18%;
	padding: 5px 14px;
	border-radius: 50%;
	margin-right: 5px;
}
.ms-portfolio-box .overlay .btn:focus {
	outline: none;
}
.ms-portfolio-box h4, .ms-portfolio-box h4 a {
	font-size: 16px;
	line-height: 20px;
}
.ms-portfolio-category a {
	display: inline-block;
	line-height: 16px;
	padding-right: 5px;
}
#ms-port-load {
/*display: none;*/
}
.ms-port-load-hide {
	display: none;
	float: left;
}
.ms-port-load-show {
	display: block;
	float: left;
}
.ms-port-load-hide, .ms-port-load-show i {
	font-size: 20px;
	margin-right: 8px;
}
.ms-port-modal .modal-content {
	border-radius: 0;
}
.ms-port-modal .modal-header {
	border-bottom: 0;
}
.ms-port-modal .modal-title {
	font-size: 20px;
	line-height: 18px;
}
.ms-port-modal .modal-footer {
	border-top: 0;
}
/*---------------------------------------
	ms-feature         
-----------------------------------------*/
.ms-feature-box {
	clear: both;
}
.ms-feature-box-icon {
	background: rgba(0,0,0,0);
	float: left;
	display: inline-block;
	height: 35px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	top: 5px;
	width: 50px;
	line-height: 35px;
}
.ms-feature-box-icon i {
	border-radius: 5px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
	font-size: 20px;
	border-width: 2px;
	border-style: solid;
}
.ms-feature-box-icon i:hover {
	border-width: 2px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
.ms-feature-box-info {
	margin-left: 30px;
	padding-left: 65px;
}
.ms-feature-box-info h4 {
	font-size: 16px;
	line-height: 20px;
}
.six-sec-ease-in-out {
	-webkit-transition: width 6s ease-in-out;
	-moz-transition: width 6s ease-in-out;
	-ms-transition: width 6s ease-in-out;
	-o-transition: width 6s ease-in-out;
	transition: width 6s ease-in-out;
}
/*---------------------------------------
	ms-blog          
-----------------------------------------*/
.ms-blog-section {
}
.ms-blog-section .overlay {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 40px 0;
}
.grid .hentry .ms-blog-post-box {
	margin-bottom: 40px;
	background: #fff;
	border-radius: 8px;
}

.single .ms-blog-post-box {
	margin-bottom: 40px;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
	border-radius: 8px;
}

.ms-blog-post-box .small {
	font-size: 14px;
	padding: 30px;
}

.meta-info-container{
	position: relative;
}
.ms-blog-thumb {
	position: relative;
	width: 100%;
	float: left;
	background-color: #4E80BD;
	border-radius: 8px 8px 0px 0px;
}
.ms-blog-thumb img {
	position: relative;
	max-width: 100%;
	float: left;
	height: auto;
	border-radius: 8px 8px 0 0;
	max-height: 400px;
}
.page-title-heading{
	padding-left: 16px;
}
.ms-blog-thumb .responsive-video iframe {
	border-radius: 8px 8px 0 0;
}
.ms-blog-date {
	height: 32px;
	left: 0px;
	position: absolute;
	text-align: center;
	bottom: 0px;
	width: auto;
	padding: 0 10px;
	margin: 10px 10px -14px;
	z-index: 10;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.ms-blog-date .h3 {
	font-size: 14px;
}
.ms-blog-date span {
	font-size: 14px;
}
.ms-blog-author {
	background: #e8e8e8 none repeat scroll 0 0;
	font-size: 16px;
	font-weight: 800;
	width: 65px;
	height: 65px;
	left: 0;
	right: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	bottom: 0;
	margin: 0 auto -30px auto;
	z-index: 999;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.ms-blog-author img {
	max-width: 100%;
	border-radius: 100%;
}
.ms-blog-post-box h2:first-child {
	font-size: 18px;
	line-height: 20px;
	position: relative;
}
.ms-blog-category {
	padding: 10px 0;
}
.ms-blog-category a {
	color: #b6b6b6;
	display: inline;
	font-weight: normal;
	padding-right: 3px;
}
.ms-blog-category i {
	color: #888;
}
.ms-blog-category i[class*=fa-] {
	padding-right: 2px;
}

.btn-blog {
	padding: 10px 20px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	background: transparent;
}
.btn-blog:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
.ms-info-author-block {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
	margin-top: 10px;
	padding: 20px 20px 20px 20px;
	color: #999;
	margin-bottom: 7px;
	border-radius: 8px;
}
.ms-info-author-block a {
	color: #777;
	font-size: 18px;
	text-transform: capitalize;
}
.ms-info-author-block .row {
	margin: 0;
}
.ms-info-author-block h4 {
	color: #333;
	font-size: 18px;
	font-weight: normal;
}
.ms-info-author-block h4 span {
	color: #999999;
	font-size: 20px;
	padding-right: 3px;
}
.ms-info-author-block h4 span i {
	padding-right: 5px;
}
.ms-info-author-block .ms-author-pic img {
	margin: 0 25px 15px 0;
	float: left;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.ms-info-author-block .ms-info-author-social {
	font-size: 24px;
	padding: 0;
}
.ms-info-author-block .ms-info-author-social li a {
	color: #dbdbdb;
	font-size: 24px;
}
.ms-info-author-block .ms-info-author-social li a:hover {
	color: #777;
}
.comments-area h2.comments-title {
	font-size: 20px;
	margin-bottom: 20px;
}
.comments-area .comment-reply-link:before {
	content: "\f112";
	font-family: FontAwesome;
	padding-right: 8px;
}
.comments-area label {
    clear: both;
    width: 100%;
}
.comments-area .comment-reply-link {
	border-radius: 5px;
	margin-left: 10px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
	background: #349BD6;
	color: white;
	border-color: #f0f0f0;
}

.comments-area .comment-reply-link:hover {
	background-color: #eee;
	color: black;
}

.comments-area a {
	color: #777;
}
.comments-area .reply a {
	border-radius: 4px;
	margin-left: 0px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
}
.comments-area .comment-body {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 16px;
}
.ms-comments a i {
	padding-right: 6px;
}
.ms-comments h4 {
	color: #888;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
.ms-comments h4 span {
	color: #999999;
	font-size: 12px;
	padding-left: 7px;
}
.ms-comments .btn {
	margin-left: 5px;
}
.ms-comments .media {
	margin-top: 0;
}
.ms-comments .comment .media-body > p:last-child {
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 30px;
	margin-top: 0;
}
.ms-comments li .media-body > .small {
	border-bottom: none!important;
	padding: 0;
	color: #999;
}
.ms-comments li .media-body > p {
	border-bottom: 1px solid #f0f0f0;
	padding: 5px 0px 20px 5px;
	margin-bottom: 20px;
	color: #999;
}
.ms-comments li .media .media {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ms-comments li:last-child .media-body > p {
	border-bottom: none;
	padding: 0;
}
.comments-area img {
	height: 64px;
	width: 64px;
	border-radius: 50%;
}
.comments-area .comment-list li {
	margin-bottom: 20px;
	padding: 20px;
	background: #fff;
	border-radius: 8px;
}
.comments-area .comment-list li .comment-meta {
	background: transparent;
}
ol.comment-list,ol.children{
	list-style: none;
}
ol.comment-list{
	padding-left: 0px;
}
.ms-blog-thumb > .responsive-video {
	z-index: 9;
	min-height: 240px;
}
.blog-slider {
	position: relative;
	z-index: 9;
	margin-bottom: -34px;
}
/*---------------------------------------
	ms-calltoaction           
-----------------------------------------*/
.ms-calltoaction {
	height: 100%;
	overflow: hidden;
	width: 100%;
	padding: 0;
}
.ms-calltoaction .overlay {
	height: 100%;
	position: relative;
	width: 100%;
	padding: 4px 0;
}
.ms-calltoaction-box-icon {
	float: left;
	display: inline-block;
	margin-right: 25px;
	width: 50px;
}
.ms-calltoaction-box-icon i {
	height: 50px;
	line-height: 70px;
	text-align: center;
	width: 50px;
	font-size: 50px;
}
.ms-calltoaction-box-info h5 {
	line-height: 40px;
}
.ms-calltoaction .btn {
	margin-top: 10px;
}
.ms-calltoaction .btn-theme {
	border-width: 1px;
	border-style: solid;
}

/*---------------------------------------
	ms-request-Quote-section        
-----------------------------------------*/
.ms-req {
	height: 100%;
	overflow: hidden;
	width: 100%;
	padding: 0;
}
.ms-req .overlay {
	padding: 40px 0;
	margin: 0;
}
.ms-req .overlay {
	background: #222;
}
.ms-req h5 {
	font-size: 20px;
	position: relative;
	padding-bottom: 15px;
}
.ms-req h5, .ms-req p, .ms-req a {
	color: #fff;
}
.form-control {
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: inherit;
	height: 40px;
}
.ms-req .form-control {
	background: rgba(0,0,0,0);
	color: #fff;
}
.form-control {
	border-width: 1px;
	border-style: solid;
}
.form-control::-moz-placeholder {
opacity: 1;
}
.form-control:focus, .form-control:hover, .form-control:active {
	box-shadow: none;
}

/*---------------------------------------
	ms-subscriber-section   
-----------------------------------------*/
.ms-subscriber {
	height: 100%;
	overflow: hidden;
	width: 100%;
	padding: 0;
}
.ms-subscriber .overlay {
	height: 100%;
	position: relative;
	width: 100%;
	padding: 40px 30px;
}
.ms-subscriber h4 {
	font-size: 160%;
}
.ms-subscriber h2 {
	line-height: 25px;
	font-size: 200%;
}
.ms-subscriber h5, .ms-subscriber p, .ms-subscriber a {
	color: #fff;
}
.ms-subscriber .subscription-form .int-box {
	border-radius: 3px;
	box-shadow: inherit;
	height: 40px;
	margin-bottom: 25px;
	margin-top: 25px;
	width: 62%;
}
.ms-subscriber .subscription-form .btn {
	border: 0 none;
	border-radius: 2px;
	margin: 5px;
	transition: all 0.25s ease 0s;
}

/*---------------------------------------
	ms-view-detail-section          
-----------------------------------------*/
.ms-view-detail-section {
}
.ms-view-detail-top-section {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
	padding: 10px 10px 10px;
	margin: 0px 0 20px 0;
	background: #f5f5f5;
}
.ms-view-detail-btnarea {
	text-align: center;
	padding: 0;
}
.ms-view-detail-btnarea .btn {
	margin: 10px;
}
.ms-view-detail-btnarea .btn i {
	padding-right: 10px;
}
.ms-view-detail-content {
	padding: 30px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
	background: #f5f5f5;
	color: #666;
}
.ms-view-detail-content img {
	margin: 20px auto;
	width: 100%;
	height: auto;
}
.ms-detail-purchase {
	background: #f3f3f3;
	padding: 15px;
	margin-top: 10px;
	border-bottom: 2px solid #e6e6e6;
}
.ms-detail-purchase .purchase-inner {
	background: #fff;
	text-align: center;
	line-height: 35px;
}
.ms-detail-purchase .purchase-inner span {
	font-size: 20px;
}
.ms-detail-purchase .purchase-price {
	padding: 20px;
	font-size: 40px;
	font-weight: bold;
}
.ms-detail-download .btn-download {
	display: block;
	line-height: 36px;
	margin: 12px 0;
	padding: 5px 35px;
	position: relative;
	width: 100%;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.2);
}
.ms-detail-download .btn-download:hover {
	color: #fff;
}
.ms-detail-download .btn-download i {
	padding-right: 10px;
}
.ms-detail-download .buynow {
	background: #fefcea;
	color: #000;
}
.ms-detail-download .live-preview {
	background: #6f9a37;
}
/* --------------------------------------
=========================================
	ms-sidebar
=========================================
-----------------------------------------*/
.ms-sidebar {
	padding: 0;
}
.ms-sidebar a {
	transition: all 0.3s ease 0s;
}
.ms-sidebar .ms-widget .btn {
	padding: 2px 12px;
	border: none;
	border-radius: 3px;
	height: 40px;
}
.ms-sidebar .ms-widget {
	margin-bottom: 30px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    padding: 10px 20px;
}
.ms-sidebar .ms-widget ul {
	padding: 0;
	list-style: none;
}
.ms-sidebar .ms-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
}
.ms-sidebar .ms-widget ul li:last-child { 
	border-width: 0 0 0px 0;
	border-style: solid;
	margin: 0;
}
.ms-sidebar .ms-widget h2 {
	font-size: 16px;
	line-height: 20px;
}
.ms-sidebar .ms-widget h6, .ms-sidebar .ms-widget h2 {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
	display: inline-block;
}
.ms-sidebar .ms-widget h6::before, .ms-sidebar .ms-widget h2::before {
	border-width: 1px;
	border-style: solid;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px;
	transition: all 0.4s ease 0s;
}
.ms-widget h6:hover::before {
	width: 100%;
}
.ms-sidebar .ms-widget ul li a:hover {
	transition: 0.3s;
}
.ms-sidebar .ms-widget ul.menu li .sub-menu {
	margin-left: 15px;
}
.ms-sidebar .ms-widget ul.menu li .sub-menu li {
	border-bottom: none;
	padding: 10px 0 0;
}
.ms-sidebar .ms-widget.widget_search .btn {
	border: medium none;
	border-radius: 0 3px 3px 0;
	height: 38px;
	padding: 2px 12px;
	transition: all 0.3s ease 0s;
}
.btn-default{
	background-color: transparent;
}
.ms-sidebar .ms-category-widget ul li {
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.ms-sidebar .ms-category-widget ul li a:hover {
	padding-left: 10px;
	transition: all 0.4s ease-in-out 0s;
}
.ms-sidebar .ms-widget .ms-widget-tags, .ms-sidebar .ms-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
.ms-sidebar .ms-widget .ms-widget-tags a, .ms-sidebar .ms-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}
.ms-sidebar .ms-widget-tags a:hover, .ms-sidebar .ms-widget .tagcloud a:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
.ms-sidebar .ms-widget .ms-twitter-feed li {
	margin: 2px 0;
	padding-bottom: 5px;
	padding-left: 20px;
	position: relative;
}
.ms-sidebar .ms-widget .ms-twitter-feed li::before {
	font-family: "FontAwesome";
	position: absolute;
	left: 0;
	top: 4px;
	bottom: 0;
	content: "\f099";
}
.ms-sidebar .ms-widget .ms-twitter-feed li a {
	padding-right: 3px;
}
.ms-sidebar .ms-widget .ms-twitter-feed li .twitter-text {
	display: table;
}
.ms-sidebar .ms-widget .ms-twitter-feed li .date-twitter {
	font-size: 12px;
}
.ms-sidebar .ms-opening-hours li i {
	font-size: 14px;
	padding-right: 10px;
}
.ms-sidebar .ms-widget .ms-widget-address li {
	clear: both;
}
.ms-sidebar .ms-widget .ms-widget-address li span.icon-addr {
	height: 25px;
	line-height: 25px;
	margin: 5px 15px 8px 8px;
	text-align: center;
	width: 25px;
	display: inline-block;
	float: left;
	border-radius: 3px;
}
.ms-sidebar .ms-widget .ms-widget-address li span.icon-addr i {
	font-size: 14px;
}
.ms-sidebar .ms-widget .ms-instagram li {
	display: inline-block;
	margin: -13px 0;
	border-radius: 2px;
}
.ms-sidebar .ms-widget .ms-instagram li a:hover {
	padding-left: 0;
}
.ms-sidebar .ms-widget .ms-instagram li a img {
	width: 70px;
	height: 70px;
	border-radius: 2px;
}
.ms-sidebar .ms-widget .ms-instagram li a img:hover {
	opacity: 0.7;
}
.ms-sidebar .ms-widget .ms-social {
	padding: 10px 0px;
}
.ms-sidebar .ms-widget .ms-social li {
	display: inline-block;
}
.ms-sidebar .ms-widget .ms-social li span.icon-soci {
	display: inline-block;
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 8px 12px 8px 8px;
	text-align: center;
	width: 32px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}
.ms-sidebar .ms-widget .ms-social li span.icon-soci:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
.ms-sidebar .ms-widget .ms-social li span.icon-soci i {
	font-size: 16px;
}
.ms-sidebar .ms-widget-payment a {
	font-size: 30px;
}
.ms-sidebar .ms-widget-tollfree li {
	font-size: 20px;
}
.ms-sidebar .ms-widget-tollfree li i {
	font-size: 36px;
	padding-right: 15px;
}
.ms-sidebar .ms-widget .ms-widget-quote .form-control {
	border-radius: 0;
	margin-bottom: 20px;
	font-size: 12px;
}
.ms-sidebar .ms-widget .ms-widget-quote .btn {
	border-radius: 2px;
	padding: 5px 35px;
}
/*--ms-mailchimp--*/ 
.ms-sidebar .ms-mailchimp-widget .btn {
	border-radius: 0 3px 3px 0;
	transition: all 0.3s ease 0s;
}
/*--ms-blog-post end--*/ 
.ms-sidebar .ms-widget .ms-blog-post {
	margin-bottom: 0;
	margin-top: 0 !important;
	overflow: hidden;
	padding-bottom: 20px;
}
.ms-sidebar .ms-widget .ms-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
.ms-sidebar .ms-widget .ms-blog-post .ms-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
.ms-sidebar .ms-widget .ms-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
.ms-widget .ms-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}
/*--ms-blog-post end--*/ 
/*--calendar_wrap--*/ 
.ms-sidebar .ms-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
.ms-sidebar .ms-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.ms-sidebar .calendar_wrap table thead th {
	border-width: 1px;
	border-style: solid;
}
.ms-sidebar .calendar_wrap table tbody td:hover, .ms-sidebar .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
.ms-sidebar .calendar_wrap table tfoot {
	border-width: 1px;
	border-style: solid;
}
.ms-sidebar .ms-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
}
.ms-sidebar .ms-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.ms-sidebar .ms-widget .calendar_wrap table tfoot {
	font-size: 11px;
}
.ms-sidebar .ms-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
.ms-sidebar .ms-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
/*--calendar_wrap end--*/ 
.ms-sidebar .ms-widget .textwidget select, .ms-sidebar .ms-widget .textwidget img {
	width: 100%;
}

/* --------------------------------------
=========================================
	ms-error page
=========================================
-----------------------------------------*/
.ms-error-404 h1 {
	font-size: 100px;
	line-height: 80px;
}
.ms-error-404 h1 i {
	padding: 5px;
}
.ms-error-404 h4 {
	line-height: 40px;
}
.ms-error-404 p {
	line-height: 30px;
}
/* --------------------------------------
=========================================
	ms-footer
=========================================
-----------------------------------------*/
footer{
	background-color: #349BD6;
}
.ms-footer-top-area {
	padding: 30px 0;
}
.ms-footer-top-area .ms-app-widget .btn {
	padding: 2px 12px;
}
.ms-footer-top-area .ms-app-widget .btn > i {
	padding-right: 10px;
}
.ms-footer-top-area .ms-app-widget h5 a i {
	font-size: 26px;
}
footer .ms-footer-widget-area {
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 50px;
}
.ms-footer-copyright p a{
	text-decoration: underline;
}

footer .ms-widget {
	margin-bottom: 50px;
}
footer .ms-widget:nth-child(4n+1) {
	clear: both;
}
footer .ms-widget .ms-subscribe {
	padding: 1px 12px;
	border-radius: 0 3px 3px 0;
	height: 40px;
}
footer .ms-widget .ms-subscribe:hover, footer .ms-widget .ms-subscribe:focus {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-search-widget .btn {
	padding: 1px 12px;
	border-radius: 0;
	height: 40px;
}
footer .ms-widget.widget_search .btn {
	border-width: 1px;
	border-style: solid;
	padding: 2px 12px;
	height: 40px;
	border-top-right-radius: 3px;
}
footer .ms-widget.widget_search .btn-default, footer .ms-widget.widget_search .btn-default:hover {
	background-color: initial;
}
footer .ms-widget.widget_search .btn:hover, footer .ms-widget.widget_search .btn:focus {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-widget h6 {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 30px 0;
	position: relative;
	padding-bottom: 12px;
	display: inline-block;
}
footer .ms-widget h6::before {
	border: 1px solid;
	bottom: 0px;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px;
	transition: all 0.3s ease 0s;
}
footer .ms-widget h6::before:hover {
	width: 100%;
	transition: all 0.3s ease 0s;
}
footer .ms-widget ul {
	padding: 0;
	list-style: none;
}
footer .ms-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
}
footer .ms-widget ul li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-widget ul li:first-child {
	padding-top: 0;
}
footer .ms-widget ul li:last-child {
	border-bottom: none;
}
footer .ms-widget ul li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .ms-widget ul li a {
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-widget ul li a:hover {
	padding-left: 10px;
}
footer .ms-widget .list-unstyled li:first-child {
	padding-top: 0;
}
footer .ms-widget .list-unstyled li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .ms-widget .list-unstyled li {
	border-width: 1px;
	border-style: solid;
}
footer .ms-widget .list-unstyled li :last-child {
	border-bottom: none;
}
footer .ms-widget .list-unstyled li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-widget .list-unstyled li a {
	line-height: 25px;
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-widget .list-unstyled li a:hover {
	padding-left: 10px;
}
footer .ms-widget .ms-twitter-feed li {
	margin: 2px 0;
	padding-bottom: 5px;
	padding-left: 20px;
	position: relative;
	border-bottom: none;
}
footer .ms-widget .ms-twitter-feed li::before {
	font-family: "FontAwesome";
	position: absolute;
	left: 0;
	top: 4px;
	bottom: 0;
	content: "\f099";
}
footer .ms-widget .ms-twitter-feed li a {
	padding-right: 3px;
}
footer .ms-widget .ms-twitter-feed li .twitter-text {
	display: table;
}
footer .ms-widget .ms-twitter-feed li .date-twitter {
	font-size: 12px;
}
footer .ms-opening-hours {
	padding: 0 10px 0 0;
}
footer .ms-widget .ms-opening-hours li {
	padding: 6px 0;
}
footer .ms-widget .ms-opening-hours li:hover {
	cursor: pointer;
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-widget .ms-opening-hours li i {
	font-size: 14px;
	padding-right: 10px;
}
footer .ms-widget .ms-widget-address li {
	border-bottom: 0;
}
footer .ms-widget .ms-widget-address li span.icon-addr {
	height: 25px;
	float: left;
	line-height: 25px;
	margin: 5px 15px 8px 8px;
	text-align: center;
	width: 25px;
	display: inline-block;
	border-radius: 3px;
}
footer .ms-widget .ms-widget-address li span.icon-addr i {
	font-size: 14px;
}
footer .ms-widget .ms-social {
	padding: 10px 0px;
}
footer .ms-widget .ms-social li {
	display: inline-block;
	margin-right: 5px;
	border-bottom: none;
}
footer .ms-widget .ms-social li a:hover {
	padding-left: 0;
}
footer .ms-widget .ms-social li span.icon-soci {
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 8px;
	text-align: center;
	width: 32px;
	border-radius: 3px;
}
footer .ms-widget .ms-social li span.icon-soci:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-widget .ms-social li span.icon-soci i {
	font-size: 16px;
}
footer .ms-widget .ms-widget-tags, footer .ms-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
footer .ms-widget .ms-widget-tags a, footer .ms-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}
footer .ms-widget .ms-widget-tags a:hover, footer .ms-widget .tagcloud a:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-widget .ms-widget-quote .form-control {
	border-radius: 0;
	margin-bottom: 20px;
	border: none;
	font-size: 12px;
}
footer .ms-widget .ms-instagram li {
	display: inline-block;
	margin: -3px 0 0;
	border-radius: 2px;
	padding: 0;
	border-bottom: none;
}
footer .ms-widget .ms-instagram li a:hover {
	padding-left: 0px;
}
footer .ms-widget .ms-instagram li a img {
	width: 75px;
	height: 75px;
	border-radius: 2px;
}
footer .ms-widget .ms-instagram li a img:hover {
	opacity: 0.7;
}
footer .ms-widget-tollfree {
	margin-bottom: 30px;
}
footer .ms-widget-tollfree li {
	font-size: 20px;
}
footer .ms-widget-tollfree li i {
	font-size: 36px;
	padding-right: 15px;
}
footer .ms-widget-payment a {
	font-size: 30px;
}
footer .ms-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
footer .ms-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .ms-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
	border-width: 1px;
	border-style: solid;
}
footer .ms-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
footer .calendar_wrap table tbody td:hover {
	transition: all 0.3s ease 0s;
}
footer .ms-widget .calendar_wrap table tfoot {
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
}
footer .ms-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
footer .ms-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
footer .ms-widget .textwidget select, footer .ms-widget .textwidget img {
	width: 100%;
}
footer .ms-blog-post {
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 20px;
}
footer .ms-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
footer .ms-blog-post .ms-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
footer .ms-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
footer .ms-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}
footer .ms-widget .form-control {
	border-width: 1px;
	border-style: solid;
}
/*----contactform footer-widget----*/
footer .ms-widget .wpcf7-form .wpcf7-form-control {
	border: none;
}
footer .ms-footer-copyright {
	padding: 25px 0 10px;
}
footer .ms-footer-copyright p, footer .ms-footer-copyright a {
	font-size: 13px;
	line-height: 23px;
}
footer .ms-social {
	padding: 0px;
	margin: 0;
}
footer .ms-social li {
	display: inline-block;
	margin-right: 5px;
	border-bottom: none;
}

.ms-social li .icon-soci a{
	display: block;
	height: 100%;
	background-color: #349BD6;
	padding-top: 4px;
	transition: 0.3s;
}

.ms-social li .icon-soci a:hover{
	background-color: #777;
	transition: 0.3s;
}

footer .ms-social li span.icon-soci {
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 30px;
    margin: 0 4px;
    text-align: center;
    width: 32px;
}
footer .ms-social li span.icon-soci:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ms-social li span.icon-soci i {
	font-size: 14px;
}

/* --------------------------------------
=========================================
	ms-scroll-button
=========================================
-----------------------------------------*/
.ti_scroll {
	bottom: 2%;
	display: none;
	height: 40px;
	opacity: 1;
	overflow: hidden;
	position: fixed;
	right: 12px;
	text-align: center;
	width: 40px;
	z-index: 9999;
	border-radius: 3px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.ti_scroll:hover {
	opacity: 1;
}
.ti_scroll i {
	font-size: 26px;
	line-height: 36px;
}
.ti_scroll:hover, .ti_scroll:focus {
	border-width: 2px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
/* --------------------------------------
=========================================
	ms-Responsive Part
=========================================
-----------------------------------------*/

@media (max-width: 600px) {
.listpost-content-wrap-large {
	position: relative;
}
.listpost-content-wrap-large {
	padding: 20px 0px 0px 0px;
}
.entry-meta-large {
	position: relative;
	float: left;
	width: 100%;
}
.entry-footer-large {
	padding-right: 0;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.navbar-wp .navbar-collapse.collapse {
	display: none;
}
.navbar-wp .navbar-collapse.collapse.in {
	display: block;
}
.navbar-wp .navbar-header .collapse, .navbar-toggle {
	display: none;
}
.navbar-header {
	float: none;
}
}
 @media only screen and (min-width: 240px) and (max-width: 460px) {
.ms-footer-top-area .ms-app-widget .btn {
	margin-top: 10px;
}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
/* Top Details*/
.ms-head-detail .info-left {
	float: none;
	text-align: center;
	margin: 10px 0 17px;
	float: none;
}
.ms-head-detail .info-right {
	float: none;
	text-align: center;
	margin: 10px 0 17px;
	float: none;
}
/* logo*/
.navbar-default .navbar-brand {
	margin: 0 auto;
	text-align: center;
}
.navbar-wp .navbar-nav > li > a {
	padding: 12px;
}
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	z-index: 8;
}
.navbar-wp .ms-search-box {
	float: left;
}
.ms-search {
	margin: 0 auto;
}
.ms-plans .ms-plan.active {
	transform: scale(1);
}
.ms-subscriber .subscription-form .int-box {
	width: 100%;
}
/*--video-format--*/
#ms-slider .item .ms-slider-inner .video-format .video-format-inner {
	margin: -20px 0 0;
	padding: 0 5px;
	text-align: center;
}
}
@media screen and (min-width: 1024px) {
.ms-slider-inner {
}
}
@media screen and (min-width: 240px) and (max-width: 1179px) {
.boxed {
	width: auto;
}
.ms-slider-inner p {
	width: auto;
}
}
@media screen and (min-width: 240px) and (max-width: 767px) {
.ms-main-nav {
	text-align: center;
}
.navbar-toggle {
	float: none;
}
.navbar-brand{
	float: none;
	display: block;
}
/*--------------- ms-slider ---------------*/
.navbar-wp .navbar-nav>.active>a, .navbar-wp .navbar-nav>.active>a:hover, .navbar-wp .navbar-nav>.active>a:focus {
	border-bottom: none;
}
.navbar-wp .navbar-nav > a, .navbar-wp .navbar-nav> a:hover, .navbar-wp .navbar-nav a:focus {
	border-bottom: none;
}
}
/*--------------- Gallary ---------------*/
.gallery {
	margin: 0 -1.1666667% 1.75em;
}
.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
.grid .col-md-12{
	margin-bottom: 35px;
}
.grid{
	display: grid;
	grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 700px) {
    .grid{
	grid-template-columns: 98%;
}
}
.grid .hentry{
	height: 100%;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
	border-radius: 8px;
}
.nav-links a{
	margin-right: 10px;
	font-size: 20px;
	padding: 2px 10px; 
	background-color: #349BD6;
	color: white;
}

.nav-links .page-numbers{
	margin-right: 10px;
	font-size: 20px;
}

.nav-links .current{
	padding: 2px 12px; 
	background-color: royalblue;
	color: white;
}

.nav-links a:hover, .nav-links .page-numbers:hover, .nav-links .current:hover{
	background-color: royalblue;
}

.header-widget .ms-header-box-icon i{
	background-color: #6A9FDF;
	color: white;
	transition: 0.5s;
}

.header-widget .ms-header-box-icon i:hover{
	background-color: blue;
	transition: 0.5s;
}

.menu-item-has-children .dropdown-menu.sm-nowrap li a{
	white-space: normal;
}

.ms-blog-post-box article p img{
	margin: 5px 10px 5px 0px;
}

.search .grid > h2 {
	padding-left: 15px;
}
/*Logo*/
.navbar-brand > img{
	max-height: 100px;
	max-width: 110px;
}
/* sub menus arrows on desktop */
.navbar-nav:not(.sm-collapsible) ul .caret {
	position: absolute;
	right: 0;
	margin-top: 6px;
	margin-right: 15px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px dashed;
}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
	padding-right: 30px;
}
/* make sub menu arrows look like +/- buttons in collapsible mode */
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
	position: absolute;
	right: 0;
	margin: -3px 15px 0 0;
	padding: 0;
	width: 32px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	border-width: 1px;
 	border-style: solid;
}
.navbar-nav.sm-collapsible .caret:before {
	content: '+';
	font-family: monospace;
	font-weight: bold;
}
.navbar-nav.sm-collapsible .open > a > .caret:before {
	content: '-';
}
.navbar-nav.sm-collapsible a.has-submenu {
	padding-right: 50px;
}
/* revert to Bootstrap's default carets in collapsible mode when the "data-sm-skip-collapsible-behavior" attribute is set to the ul.navbar-nav */
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret, .navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
	position: static;
	margin: 0 0 0 2px;
	padding: 0;
	width: 0;
	height: 0;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-bottom: 0;
	border-left: 4px solid transparent;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
	content: '' !important;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
	padding-right: 15px;
}
/* scrolling arrows for tall menus */
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
	position: absolute;
	display: none;
	visibility: hidden;
	height: 20px;
	overflow: hidden;
	text-align: center;
}
.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
	position: absolute;
	top: -2px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 7px dashed transparent;
	border-right: 7px dashed transparent;
	border-bottom: 7px solid;
	border-left: 7px dashed transparent;
}
.navbar-nav span.scroll-down-arrow {
	top: 6px;
	border-top: 7px solid;
	border-right: 7px dashed transparent;
	border-bottom: 7px dashed transparent;
	border-left: 7px dashed transparent;
}
/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
.navbar-nav.sm-collapsible ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
	padding-left: 35px;
}
.navbar-nav.sm-collapsible ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
	padding-left: 45px;
}
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
	padding-left: 55px;
}
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
	padding-left: 65px;
}
/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
.navbar-nav .dropdown-menu > li > a {
	white-space: normal;
}
.navbar-nav ul.sm-nowrap > li > a {
	white-space: nowrap;
}
.navbar-nav.sm-collapsible ul.sm-nowrap > li > a {
	white-space: normal;
}
/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
	left: 0;
	right: auto;
}
.single .ms-blog-thumb img{
	float: none;
	margin: 0 auto;
}
.single .ms-blog-date{
	left: 18px;
}

.archive-page-heading{
	padding-left: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
}